<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>로드뷰 생성하기</title>

</head>
<body>
<!-- 로드뷰를 표시할 div 입니다 -->
<h1>위도 경도 입력</h1>

<form id="coordinates-form">
	<label for="latitude">위도:</label>
	<input type="text" id="latitude" name="latitude">
	<br>

	<label for="longitude">경도:</label>
	<input type="text" id="longitude" name="longitude">
	<br>

	<label for="pan">pan:</label>
	<input type="text" id="pan" name="pan">
	<br>

	<label for="tilt">tilt:</label>
	<input type="text" id="tilt" name="tilt">
	<br>

	<input type="submit" value="전송">
</form>

<div id="roadview" style="width:100%;height:500px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a10dd8a705984eda1aea2da99dc881ff"></script>
<script>
var roadviewContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
var roadview = new kakao.maps.Roadview(roadviewContainer); //로드뷰 객체
var roadviewClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체

kakao.maps.event.addListener(roadview, 'init', function() {
	kakao.maps.event.addListener(roadview, 'position_changed', function() {
		var tempPosition = roadview.getPosition();
    	console.log(tempPosition.toString());
    	roadviewClient.getNearestPanoId(tempPosition, 50, function(panoId) {
    		console.log(panoId);
		});


	});W
});


document.getElementById('coordinates-form').addEventListener('submit', function(event) {
    // 기본 제출 동작을 중단
    event.preventDefault();

    // 입력된 위도와 경도 값을 가져옴
    var latitude = document.getElementById('latitude').value;
    var longitude = document.getElementById('longitude').value;
    var pan = document.getElementById('pan').value;
    var tilt = document.getElementById('tilt').value;

    // 값이 입력되었는지 확인
    if (latitude && longitude && pan && tilt) {
        alert('위도: ' + latitude + ', 경도: ' + longitude + ' pan: ' +pan + ' tilt: ' + tilt);
        // 이후의 처리 로직을 여기에 추가
        var position = new kakao.maps.LatLng(latitude, longitude);
        var viewpoint = new kakao.maps.Viewpoint(pan, tilt, 1);

        // 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
        roadviewClient.getNearestPanoId(position, 50, function(panoId) {
<!--        roadview.setPanoId(panoId, position); //panoId와 중심좌표를 통해 로드뷰 실행-->
		roadview.setPanoId(1154648561, position)
        roadview.setViewpoint(viewpoint);



        });

    } else {
        alert('모든 필드를 입력해주세요.');
    }
});




</script>
</body>
</html>